<launch>
    <arg name="fcu_url" default="/dev/ttyUSB0:230400"/>
    <arg name="gcs_url" default="udp://@192.168.50.205"/>
    <arg name="SYS_ID" default="1"/>

    <group ns="MAV$(arg SYS_ID)">
        <node name="roscord_bag" pkg="rosbag" type="record">
            <param name="filename" value="$(env HOME)/Desktop/pose.bag"/>
            <param name="topics" value="mavros/local_position/pose">
        </node>
    </group>
</launch>